:root {
    --nav-width: 18rem;
}

*, 
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Courier New', Courier, monospace;
    background-color: #1c1c1f;
    color: #dfdfe2;
}

/* element styling */

main {
    margin: 1rem 0 0 calc(var(--nav-width) + 2rem);
}

header {
    color: #ffffff;
    padding-bottom: 1rem;
}

/* class styling */

.nav-link {
    text-decoration: none;
    color: #dfdfe2;
}

/* id styling */

#navbar {
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: calc(var(--nav-width) + 1rem);
    padding: 1rem 0 0 1.5rem;
    border-right: #4c4c54 solid 3px;
}

#navbar li {
    list-style: none;
    padding: 0.25rem 0 0.25rem 0;
}

/* media queries */

/* Large devices (laptops/desktops, 992px and up) 
@media only screen and (min-width: 992px) {...} */